@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin-top: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
}

.top-bar {
  background-color: #f4f6f6;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #666464;
}
.top-bar i {
  margin-right: 0.5rem;
  padding: 0.5rem 0rem;
}

.position-absolute {
  top: 14.375rem;
  left: 13.75rem;
  color: #fff;
}

.navbar-brand {
  position: relative;
}
.navbar-brand::before {
  background: #ff5733;
  content: "";
  position: absolute;
  width: 100%;
  left: 0rem;
  top: 2.688rem;
  transform: translateX(-50%);
  height: 0.313rem;
  transform: scaleX(0);
  transition: all 0.3s ease-in;
  transform-origin: center;
}
.navbar-brand:hover::before {
  transform: scaleX(1);
  transform-origin: center;
}

.convater-rem {
  height: 6rem;
}
.convater-rem p {
  font-size: 1.2rem;
}
.convater-rem p input {
  border: 1px solid #c9c6c6;
  outline: none;
  padding: 0.4rem 0.8rem;
  width: 10rem;
}
.convater-rem p label {
  border: 1px solid #c9c6c6;
  outline: none;
  padding: 0.4rem 0.8rem;
  width: 10rem;
}

.phone-item {
  box-shadow: 0px 2px 10px rgba(143, 142, 141, 0.6705882353);
}

.prodact-card #cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.prodact-card #cards .card-body {
  position: relative;
  transition: opacity 3s ease-in-out;
  margin: 1rem;
  border-radius: 1.2rem;
  border: 1px solid #c9c6c6;
  color: #666464;
  cursor: pointer;
  background: #fff;
  transition: box-shadow 0.2s ease-in-out;
}
.prodact-card #cards .card-body:hover {
  box-shadow: 0px 0px 1.5rem rgba(61, 61, 61, 0.5411764706);
}
.prodact-card #cards .card-body:hover .new {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.prodact-card #cards .card-body h4 {
  color: rgba(17, 17, 17, 0.7333333333);
  font-weight: 600;
}
.prodact-card #cards .card-body img {
  width: 13.5rem;
  height: auto;
  margin-bottom: 1rem;
}
.prodact-card #cards .card-body img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.02);
}
.prodact-card #cards .card-body .new {
  position: absolute;
  top: 0rem;
  right: 0rem;
  background: orangered;
  color: white;
  padding: 5px 8px;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  opacity: 0;
}

.hr2 {
  border-bottom: 4px double #666464;
  line-height: 4.5rem;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(0.6rem);
          backdrop-filter: blur(0.6rem);
}

#Last-Price .last-prodact #price-card {
  display: grid;
  grid-template-columns: auto auto auto;
}
#Last-Price .last-prodact #price-card .updata-card-body {
  transition: opacity 3s ease-in-out;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1.2rem;
  border: 1px solid #c9c6c6;
  color: #666464;
  cursor: pointer;
  background: #fff;
  transition: box-shadow 0.2s ease-in-out;
}
#Last-Price .last-prodact #price-card .updata-card-body:hover {
  box-shadow: 0px 0px 1.5rem rgba(61, 61, 61, 0.5411764706);
}
#Last-Price .last-prodact #price-card .updata-card-body h4 {
  color: rgba(17, 17, 17, 0.7333333333);
  font-weight: 600;
}
#Last-Price .last-prodact #price-card .updata-card-body img {
  width: 18rem;
  height: auto;
  margin-bottom: 1rem;
}
#Last-Price .last-prodact #price-card .updata-card-body img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.02);
}
#Last-Price .last-prodact #price-card .updata-card-body .bPrice {
  text-decoration: line-through;
}

footer {
  background: #eeeeee;
  margin-top: 1.2rem;
  width: 100%;
  height: 16rem;
}

.profile-fottur {
  opacity: 0;
  transform: translateY(-150px);
  transform: scale(0.5);
  box-sizing: border-box;
  padding: 2rem;
}

.pro-title {
  color: #3f3844;
  font-weight: bold;
}

.pro-img {
  width: 7.188rem;
  height: 7.188rem;
  display: block;
  padding: 0.438rem;
  border-radius: 50%;
  margin-top: 2.3rem;
  background: #fdfafc;
  border: 2px solid #3f3844;
}
.pro-img img {
  width: 6.125rem;
  height: auto;
  border-radius: 50%;
}

.pro-detls {
  opacity: 0;
  transform: translateY(-150px);
  transform: scale(0.5);
  padding-top: 2rem;
  color: #3f3844;
}
.pro-detls .parson a {
  text-decoration: none;
}
.pro-detls .parson a i {
  font-size: 1.8rem;
  color: #3f3844;
  margin-right: 0.7rem;
}

.fadeanimation-add {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
  transform: translateX(0px);
}

.apps-link {
  width: 550px;
  text-align: center;
  text-transform: uppercase;
}
.apps-link h3 {
  font-weight: bold;
}
.apps-link .apps {
  display: flex;
}
.apps-link .apps span {
  display: inline-block;
  padding: 0.3rem;
  margin: 1rem 1.1rem;
  font-size: 2.2rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.apps-link .apps span:nth-child(1) :hover {
  color: #0d98f5;
}
.apps-link .apps span:nth-child(2) :hover {
  color: #e22bab;
}
.apps-link .apps span:nth-child(3) :hover {
  color: tomato;
}
.apps-link .apps span:nth-child(4) :hover {
  color: blueviolet;
}
.apps-link .apps p {
  font-size: 0.9rem;
}

.main-box {
  height: 210px;
  background: #3f3844;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 0.7rem;
}

.box {
  display: flex;
  width: 11rem;
  justify-content: center;
  align-items: center;
  background-color: #3f3844;
  font-weight: bold;
}
.box h2 {
  margin-right: -20px;
  line-height: 2.5rem;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.box h3 {
  line-height: 2.5rem;
  color: #3f3844;
  background: white;
  writing-mode: vertical-lr;
  text-orientation: unset;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.box h4 {
  margin-left: -20px;
  line-height: 2.5rem;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: upright;
}/*# sourceMappingURL=costem_style.css.map */