@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

// font-family: 'Noto Serif Bengali',
// serif;
// font-family: 'Nunito',
// sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    behavior: smooth;
}

$bg_color : #fff;
$text_color : #00556A;
$B_shadow : 0px 3px 12px #000436bd;


body {
    font-family: 'Nunito', sans-serif;
    background: #F7EBD5;
    color: $text_color;
    overflow-x: hidden;
}

// Nav bar designe
.navWarp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: $text_color;
    color: $bg_color;
    padding: 0px 1rem;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 20px #000436bd;
    z-index: 999;
    .logo {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .hamburger{
        font-size: 1.5rem;
        display: none;
    }
    .navManu ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            list-style: none;
            cursor: pointer;
            a {
                text-decoration: none;
                color: #fff;
                padding: 6px 16px;
                font-size: 18px;
                i{
                    margin-right: .5rem;
                }
            }
        }
    }
}

.navManu ul li :hover {
    background: $text_color;
    border-radius: 50px;
    padding: 6px 16px;
    transition: .3s ease;
}

// nav bar responsive
@media only screen and (max-width: 650px) {
    .logo {
        width: 85%;
    }
    .navWarp {
        z-index: 90;
    }
   .hamburger {
        display: block !important;
        cursor: pointer;
   }
    .active {
        box-shadow: 0px 6px 20px #000436cb;
        opacity: 1 !important;
        height: 280px !important;
    }
   .navManu ul{
        position: absolute;
        top: 54px;
        width: 100vw !important;
        height: 0px;
        left: 0;
        right: 0;
        background: $text_color;
        transform: .3s ease;
        display: block !important;
        width: fit-content;
        text-align: left;
        overflow: hidden;
        opacity: 0;
        backdrop-filter: blur(8px);
        transition: .5s ease;
        z-index: 99;
        li {
            margin: 1.5rem 0rem;
            margin-left: 1rem;
            i {
                margin-right: 1.5rem;
            }
        }
   }
   .navManu ul li :hover {
       padding: 6px 16px !important;
       padding-right: 55% !important;
   }
}

// Hero designe
.contanier {
    width: 90%;
    margin: 0 auto;
}
.hero {
    width: 100%;
    background: url(./images/digital.webp);
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: 3rem;
    .heroWraper{
        width: 100%;
        height: 100%;
        .slider{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 1rem;
            h2 {
                max-width: 900px;
                padding: 2rem;
                border-radius: 1rem;
                text-align: left;
                font-size: 3.2rem;
                font-weight: bold;
                background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.abInfo {
    background: $text_color;
    color: #fff;
    p {
        overflow: hidden;
        padding: 10px 25px;
    }
}
// owner designe
.card{
    background: #ddd;
    color: #202020;
    border: 1px solid #00042d80;
    border-top-right-radius: 15px;
    margin-bottom: 1.5rem;
    transition: all .3s ease;
    &:hover {
        box-shadow: $B_shadow;
    }
    .contact{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #00042d80;
        padding: 10px 15px;
        background: #e9ebe9;
        i{
            padding: 0 6px;
            color: #202020;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                color: $text_color;
            }
        }
    }
}

.owner {
    display: flex;
    justify-content: space-around;
    margin-top: 3.5rem;
    .profile {
        display: flex;
        justify-content: space-around;
        .avator {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background: $text_color;
            border-top-right-radius: 15px;
        }
        .avator img {
            width: 100px;
            border-radius: 50%;
            border: 2px solid $bg_color;
        }
        .info, .whatsApp {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            .infoText {
                p:nth-child(1){
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        .whatsApp {
            img{
                width: 90px;
                border: 2px solid #000;
            }
        }
    }
}
// Online service 
.serviceCard {
    padding: 25px 0;
    a {
    text-decoration: none;
    border: 2px solid $text_color;
    color: $bg_color;
    background: $text_color;
    padding: 15px 20px;
    margin: 15px;
    font-weight: bold;
    border-radius: 10px;
    transition: all .3s ease;
    &:hover{
        background: $bg_color;
        color: $text_color;
        box-shadow: 0px 2px 10px #01313ff1;
    }
    }
}

// service designe
.service {
    margin-top: 3.5rem;
    background: #fff;
    padding: 1.2rem;
    border-radius: 1rem;
    overflow: hidden;
        .serData {
            table {
                    width: 100%;
                    border-collapse: collapse;
                    border: 1px solid #b1b0b0;
                    text-transform: capitalize;
                    th {
                        background: $text_color;
                        color: #fff;
                        text-align: left;
                        padding: 15px 20px;
                    }
                    tr {
                        color: #000;
                        border-bottom: 1px solid #b1b0b0;
                        transition: all .3s ease;
                        &:hover {
                            background: #c5c4c4ee;
                        }
                        td {
                            padding: 15px;
                        }
                    }
                }
        }
}

.poplurService{
    margin-top: 3.5rem;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    h2{
        padding-bottom: 1rem;
    }
    .cardWraper, .aplayCard {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        .sCard {
            background: $text_color;
            color: $bg_color;
            padding: 1rem;
            text-align: center;
            border-radius: 1rem;
            margin: 1rem;
            perspective: 1000px;
            width: 240px;
            height: 300px;
            cursor: pointer;
            .card-inner {
                transition: all 0.6s ease;
                transform-style: preserve-3d;
                position: relative;
            }
            &:hover .card-inner {
                transform: rotateY(180deg);
            }
            .imgDiv, .textDiv {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }
            .imgDiv { 
                p {
                    padding: 12px 0;
                    text-align: center;
                }
                img {
                width: 100%;
                }
            }
            .textDiv {
                font-family: 'Noto Serif Bengali', serif;
                text-align: left;
                color: $bg_color;
                transform: rotateY(180deg);
            }
        }
    }
}

// Traning card designe

.taning {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 2rem 0;
    .traningCard{
        position: relative;
        background: #00556A;
        color: #fff;
        text-align: center;
        padding: 1rem;
        width: 240px;
        height: 330px;
        border-radius: .4rem;
        transition: all .3s ease;
        z-index: 2 !important;
        &:hover {
            box-shadow: $B_shadow;
        }
        .card-top {
            position: absolute;
            top: -1.6rem;
            left: 1.9rem;
            color: #00556A;
            border: 1px solid $text_color;
            background: #fff;
            padding: 0.5rem;
            font-size: 1.6rem;
            padding-bottom: 0;
            font-weight: bold;
            width: 180px;
            border-radius: .4rem;
            box-shadow: 0px 8px 12px #01313ff1;
            transition: all .3s ease;
            p {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
        .card-body {
            padding-top: 5.5rem;
            line-height: 30px;
            text-align: left;
            padding-left: 15px;
            i{
                margin-right: 8px;
            }
        }
        .btnDiv button {
            padding: 10px 55px;
            font-size: 15px;
            position: absolute;
            bottom: 15px;
            left: 2.1rem;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #00556A;
            box-shadow: 0px 8px 12px #01313ff1;
            transition: all .3s ease;
            &:hover{
                color: #E83F46;
            }
            i {
                margin-right: 8px;
            }
        }
    }
}

.traningCard:hover .card-top{
    color: #E83F46;
}

// Contacus from designe
.contastDiv {
    .form {
            width: 340px;
            height: 440px;
            background: #e6e6e6;
            border-radius: 8px;
            // margin: calc(50vh - 220px) auto;
            padding: 20px 30px;
            max-width: calc(100vw - 40px);
        }
    
        h2 {
            margin: 10px 0;
            padding-bottom: 10px;
            width: 180px;
            color: #78788c;
            border-bottom: 3px solid #78788c;
        }
    
        input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background: none;
            outline: none;
            resize: none;
            border: 0;
            transition: all .3s;
            border-bottom: 2px solid #bebed2;
        }
    
        input:focus {
            border-bottom: 2px solid #78788c
        }
    
        p:before {
            content: attr(type);
            display: block;
            margin: 28px 0 0;
            font-size: 14px;
            color: #5a5a5a
        }
    
        button {
            float: right;
            padding: 8px 12px;
            margin: 35px 0 0;
            border: 2px solid #78788c;
            background: 0;
            color: #5a5a6e;
            cursor: pointer;
            transition: all .3s;
        }
    
        button:hover {
            background: #78788c;
            color: #fff
        }
}

// HelpGate page designe
.cardWraper2 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    width: 100%;
    .cardBody{
        position: relative;
        display: flex;
        justify-content: center;
        width: 250px;
        height: 350px;
        background: #fff;
        border-radius: 22px;
        margin-top: 5rem;
        border: 2px solid #00556A;
        cursor: pointer;
        &:hover .cradFont img{
            top: 10px;
            width: 100px;
            height: 100px;
            position: absolute;
            border-radius: 50%;
            background-position: top;
            background-size: cover;
            border: 2px solid $text_color;
            left: 75px;
        }
        &:hover .cradFont>span {
                    display: none;
                }
           .cradFont img {
                left: 0;
                width: 246px;
                height: 320px;
                position: absolute;
                // background: url(./images/Profile.jpeg);
                border-radius: 20px 20px 0px 0px;
                background-position: center;
                background-size: cover;
                transition: all .7s ease;
            }
            span {
                position: absolute;
                color: #003340;
                font-weight: bold;
                padding: 5px 8px;
                background: yellow;
                border-radius: 0px 15px 15px 0px;
                transition: .3s;
                transition-delay: .7s;
                top: 25px;
                left: -1px;
                border: 1px solid $text_color;
            }
        .cardBack{
            padding: 16px;
            padding-top: 115px;
            text-align: center;
            .tk{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                div{
                     color: $text_color;
                     padding: 8px 0;
                     width: 60px;
                     height: 50px;
                     margin: 5px;
                     border: 1px solid $text_color;
                     border-radius: 5px;
                     font-size: 14px;
                     transition: all .3s ease;
                     &:hover {
                        background: $text_color;
                        color: #fff;
                     }
                }
            }
            .joinD{
                margin-top: 20px;
                padding: 8px 16px;
                border: 1px solid;
                transition: all .3s ease;
                    &:hover {
                        background: $text_color;
                        color: #fff;
                    }
            }
        }
        .btnDiv{
            width: 320px;
            height: 57px;
            position: absolute;
            bottom: -30px;
            text-align: center;
            background: linear-gradient(90deg, rgba(0, 72, 89, 1) 0%, rgba(38, 183, 219, 1) 50%, rgba(0, 72, 89, 1) 100%);
            box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
            button {
                    padding: 10px 20px;
                    font-size: 16px;
                    outline: none;
                    border: none;
                    margin: 10px;
                    cursor: pointer;
                    border-radius: 5px;
                    background: transparent;
                    color: #ffffff;
                    font-weight: bold;
                    text-shadow: 1px 2px 4px #000;
                }
            .angilLeft{
                position: absolute;
                width: 60px;
                height: 60px;
                top: -24px;
                left: 12px;
                background: #003340;
                transform: rotate(53.23deg);
                z-index: -1;
            }
            .angilRight{
                position: absolute;
                width: 60px;
                height: 60px;
                top: -24px;
                right: 12px;
                background: #003340;
                transform: rotate(37.23deg);
                z-index: -1;
            }
        }
    }
}

.footer {
    margin-top: 2.5rem;
    height: 100px;
    background: #202020;
    color: #fff;
    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .socaialDiv {
            font-size: 30px;
            border-radius: 6px;
            i {
                padding: 10px;
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    color: yellow;
                }
            }
        }
    }
}
@media only screen and (max-width: 650px) {
    body {
        font-size: 80%;
        overflow-x: hidden !important;
    }
    .cardWraper2 {
        display: block;
        margin-left: 40px !important;
    }
    .owner {
        display: block;
    }

    .service .serData table tr td {
            padding: 5px;
    }
    .service {
        padding: .8rem;
    }
    .avator {
        justify-content: start !important;
    }

    .profile {
        position: relative;
        margin-bottom: 1.5rem !important;
        display: block !important;
        z-index: 1;
    }

    .whatsApp {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    .card .contact .skill {
        margin-left: 0rem;
    }

    .card .contact i {
        padding: 0 3px;
    }

    .service {
        display: block;
    }

    .simg {
        margin-top: 1rem;
        max-width: 100% !important;
        max-height: 320px !important;
    }
    .cardWraper, .aplayCard {
        display: block !important;
        padding: 1rem;
        padding-top: 0;
    }
    .sCard{
        margin: 1.5rem 0 !important;
    }
    .footer {
        height: 150px !important;
    }
    .footer_content {
        display: block !important;
        position: relative;
    }
    .socaialDiv {
        position: absolute;
        bottom: -2rem;
        right: .5rem;
        i {
            padding: 5px !important;
        }
    }
    .serviceCard a {
        display: block;
    }

    .abInfo p{
        overflow: hidden !important;
        animation: lineSlid 30s ease 99;
    }

    @keyframes lineSlid {
        0% {
            opacity: 1;
            transform: translateX(0px);
        }90%{
            transform: translateX(-180px);
            opacity: 1;
        }92%{
            opacity: 0;
        }100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 920px){
    .cardWraper2 {
        grid-template-columns: auto auto;
    }
    .owner {
        display: block !important;
    }
    .taning {
        display: block;
        margin-left: 10%;
        .traningCard{
            margin-top: 4rem !important;
        }
    }
    .cardWraper, .aplayCard {
        grid-template-columns: auto auto auto !important;
    }
};
