@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
#fontBN {
  font-family: 'Noto Serif Bengali';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #F7EBD5;
  color: #00556A;
  overflow-x: hidden;
}

.navWarp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #00556A;
  color: #fff;
  padding: 0px 1rem;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 5px 20px #000436bd;
          box-shadow: 0px 5px 20px #000436bd;
  z-index: 999;
}

.navWarp .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navWarp .hamburger {
  font-size: 1.5rem;
  display: none;
}

.navWarp .navManu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navWarp .navManu ul li {
  list-style: none;
  cursor: pointer;
}

.navWarp .navManu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 6px 16px;
  font-size: 18px;
}

.navWarp .navManu ul li a i {
  margin-right: .5rem;
}

.navManu ul li :hover {
  background: #00556A;
  border-radius: 50px;
  padding: 6px 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media only screen and (max-width: 650px) {
  .logo {
    width: 85%;
  }
  .navWarp {
    z-index: 90;
  }
  .hamburger {
    display: block !important;
    cursor: pointer;
  }
  .active {
    -webkit-box-shadow: 0px 6px 20px #000436cb;
            box-shadow: 0px 6px 20px #000436cb;
    opacity: 1 !important;
    height: 280px !important;
  }
  .navManu ul {
    position: absolute;
    top: 54px;
    width: 100vw !important;
    height: 0px;
    left: 0;
    right: 0;
    background: #00556A;
    -webkit-transform: .3s ease;
            transform: .3s ease;
    display: block !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: 99;
  }
  .navManu ul li {
    margin: 1.5rem 0rem;
    margin-left: 1rem;
  }
  .navManu ul li i {
    margin-right: 1.5rem;
  }
  .navManu ul li :hover {
    padding: 6px 16px !important;
    padding-right: 55% !important;
  }
}

.contanier {
  width: 90%;
  margin: 0 auto;
}

.hero {
  width: 100%;
  background: url(./images/city.be6db825.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 450px;
  margin-top: 3rem;
}

.hero .heroWraper {
  width: 100%;
  height: 100%;
}

.hero .heroWraper .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.hero .heroWraper .slider h2 {
  max-width: 900px;
  padding: 2rem;
  border-radius: 1rem;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Noto Serif Bengali';
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#f8fa02), color-stop(40%, #fd1d1d), to(#fcb045));
  background: linear-gradient(90deg, #f8fa02 0%, #fd1d1d 40%, #fcb045 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abInfo {
  background: #00556A;
  color: #fff;
  font-family: 'Noto Serif Bengali';
}

.abInfo p {
  text-align: center;
  overflow: hidden;
  padding: 10px 25px;
}

.abInfo p #sliderLine {
  font-size: 20px;
  font-family: 'Noto Serif Bengali';
}

.card {
  background: #ddd;
  color: #202020;
  border: 1px solid #00042d80;
  border-top-right-radius: 15px;
  margin-bottom: 1.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card:hover {
  -webkit-box-shadow: 0px 3px 12px #000436bd;
          box-shadow: 0px 3px 12px #000436bd;
}

.card .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #00042d80;
  padding: 10px 15px;
  background: #e9ebe9;
}

.card .contact i {
  padding: 0 6px;
  color: #202020;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card .contact i:hover {
  color: #00556A;
}

.owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3.5rem;
}

.owner .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.owner .profile .avator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background: #00556A;
  border-top-right-radius: 15px;
}

.owner .profile .avator img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.owner .profile .info, .owner .profile .whatsApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.owner .profile .info .infoText p:nth-child(1), .owner .profile .whatsApp .infoText p:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}

.owner .profile .whatsApp img {
  width: 90px;
  border: 2px solid #000;
}

.serviceCard {
  padding: 25px 0;
}

.serviceCard a {
  text-decoration: none;
  border: 2px solid #00556A;
  color: #fff;
  background: #00556A;
  padding: 15px 20px;
  margin: 15px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.serviceCard a:hover {
  background: #fff;
  color: #00556A;
  -webkit-box-shadow: 0px 2px 10px #01313ff1;
          box-shadow: 0px 2px 10px #01313ff1;
}

.service {
  margin-top: 3.5rem;
  background: #fff;
  padding: 1.2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.service .serData table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b1b0b0;
  text-transform: capitalize;
}

.service .serData table th {
  background: #00556A;
  color: #fff;
  text-align: left;
  padding: 15px 20px;
}

.service .serData table tr {
  color: #000;
  border-bottom: 1px solid #b1b0b0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.service .serData table tr:hover {
  background: #c5c4c4ee;
}

.service .serData table tr td {
  padding: 15px;
}

.poplurService {
  margin-top: 3.5rem;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.poplurService h2 {
  padding-bottom: 1rem;
}

.poplurService .cardWraper, .poplurService .aplayCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.poplurService .cardWraper .sCard, .poplurService .aplayCard .sCard {
  background: #00556A;
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 240px;
  height: 300px;
  cursor: pointer;
}

.poplurService .cardWraper .sCard .card-inner, .poplurService .aplayCard .sCard .card-inner {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.poplurService .cardWraper .sCard:hover .card-inner, .poplurService .aplayCard .sCard:hover .card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.poplurService .cardWraper .sCard .imgDiv, .poplurService .cardWraper .sCard .textDiv, .poplurService .aplayCard .sCard .imgDiv, .poplurService .aplayCard .sCard .textDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.poplurService .cardWraper .sCard .imgDiv p, .poplurService .aplayCard .sCard .imgDiv p {
  padding: 12px 0;
  text-align: center;
}

.poplurService .cardWraper .sCard .imgDiv img, .poplurService .aplayCard .sCard .imgDiv img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.poplurService .cardWraper .sCard .textDiv, .poplurService .aplayCard .sCard .textDiv {
  font-family: 'Noto Serif Bengali', serif;
  text-align: left;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.taning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 2rem 0;
}

.taning .traningCard {
  position: relative;
  background: #00556A;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 240px;
  height: 330px;
  border-radius: .4rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 2 !important;
}

.taning .traningCard:hover {
  -webkit-box-shadow: 0px 3px 12px #000436bd;
          box-shadow: 0px 3px 12px #000436bd;
}

.taning .traningCard .card-top {
  position: absolute;
  top: -1.6rem;
  left: 1.9rem;
  color: #00556A;
  border: 1px solid #00556A;
  background: #fff;
  padding: 0.5rem;
  font-size: 1.6rem;
  padding-bottom: 0;
  font-weight: bold;
  width: 180px;
  border-radius: .4rem;
  -webkit-box-shadow: 0px 8px 12px #01313ff1;
          box-shadow: 0px 8px 12px #01313ff1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.taning .traningCard .card-top p {
  font-size: 1.2rem;
  font-weight: 400;
}

.taning .traningCard .card-body {
  padding-top: 5.5rem;
  line-height: 30px;
  text-align: left;
  padding-left: 15px;
}

.taning .traningCard .card-body i {
  margin-right: 8px;
}

.taning .traningCard .btnDiv button {
  padding: 10px 55px;
  font-size: 15px;
  position: absolute;
  bottom: 15px;
  left: 2.1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #00556A;
  -webkit-box-shadow: 0px 8px 12px #01313ff1;
          box-shadow: 0px 8px 12px #01313ff1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.taning .traningCard .btnDiv button:hover {
  color: #E83F46;
}

.taning .traningCard .btnDiv button i {
  margin-right: 8px;
}

.traningCard:hover .card-top {
  color: #E83F46;
}

.paymant_popup {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 50px;
  background: #0000006e;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 990;
  display: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
}

.paymant_popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
  border-radius: 15px;
}

.paymant_popup form .pay-back {
  opacity: 0;
}

.paymant_popup form .pay-back #cls2 {
  font-size: 35px;
  background: no-repeat;
  color: white;
  border: none;
  outline: none;
  display: block;
  margin: 20px auto;
  margin-top: 35px;
  cursor: pointer;
}

.paymant_popup form .pay-back p {
  font-size: 85px;
}

.paymant_popup form .pay-box, .paymant_popup form .pay-back {
  position: relative;
  -webkit-box-shadow: 0px 3px 12px #000436bd;
          box-shadow: 0px 3px 12px #000436bd;
  border: 5px solid;
  border-radius: 8px;
  width: 300px;
  height: 420px;
  text-align: center;
  padding: 15px;
  background: #dd1361;
  color: #fff;
}

.paymant_popup form .pay-box img, .paymant_popup form .pay-back img {
  width: 100px;
  background: #fff;
  padding: 4px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.paymant_popup form .pay-box .phon, .paymant_popup form .pay-back .phon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
}

.paymant_popup form .pay-box .phon p, .paymant_popup form .pay-back .phon p {
  display: inline;
  padding: 4px 6px;
  border: 1px solid #fff;
}

.paymant_popup form .pay-box .img1 img, .paymant_popup form .pay-back .img1 img {
  border: 2px solid;
  padding: 5px;
  width: 150px;
  margin: 15px;
  border-radius: 10px;
  background: #fff;
}

.paymant_popup form .pay-box .btn-pay, .paymant_popup form .pay-back .btn-pay {
  background: #fff;
  color: #00556A;
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  display: block;
  margin: 0 auto;
}

.paymant_popup form .pay-box .btn-pay:hover, .paymant_popup form .pay-back .btn-pay:hover {
  color: #dd1361;
  -webkit-box-shadow: 0px 3px 12px #000436bd;
          box-shadow: 0px 3px 12px #000436bd;
}

.paymant_popup form span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}

form input[type="text"] {
  border: none;
  outline: none;
  padding: 8px 5px;
  margin: 8px 0px;
  background: #fffefe;
}

form input[type="tel"] {
  border: none;
  outline: none;
  padding: 8px 5px;
  margin: 8px 0px;
  background: #fffefe;
}

form input[type="number"] {
  border: none;
  outline: none;
  padding: 8px 5px;
  margin: 8px 0px;
  background: #fffefe;
}

form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}

.d-block {
  display: block;
  opacity: 1 !important;
}

.d-none {
  display: none;
  opacity: 0;
}

.contastDiv .form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
}

.contastDiv h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}

.contastDiv input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 2px solid #bebed2;
}

.contastDiv input:focus {
  border-bottom: 2px solid #78788c;
}

.contastDiv p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

.contastDiv button {
  float: right;
  padding: 8px 12px;
  margin: 35px 0 0;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contastDiv button:hover {
  background: #78788c;
  color: #fff;
}

.cardWraper2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.cardWraper2 .cardBody {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 350px;
  background: #fff;
  border-radius: 22px;
  margin-top: 3rem;
  border: 2px solid #00556A;
  cursor: pointer;
}

.cardWraper2 .cardBody:hover .cradFont img {
  top: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  background-position: top;
  background-size: cover;
  border: 2px solid #00556A;
  left: 75px;
}

.cardWraper2 .cardBody:hover .cradFont > span {
  display: none;
}

.cardWraper2 .cardBody .cradFont img {
  left: 0;
  width: 246px;
  height: 320px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.cardWraper2 .cardBody span {
  position: absolute;
  color: #003340;
  font-weight: bold;
  padding: 5px 8px;
  background: yellow;
  border-radius: 0px 15px 15px 0px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
  top: 25px;
  left: -1px;
  border: 1px solid #00556A;
}

.cardWraper2 .cardBody .cardBack {
  padding: 16px;
  padding-top: 115px;
  text-align: center;
}

.cardWraper2 .cardBody .cardBack .tk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.cardWraper2 .cardBody .cardBack .tk div {
  color: #00556A;
  padding: 8px 0;
  width: 60px;
  height: 50px;
  margin: 5px;
  border: 1px solid #00556A;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #0097bd28;
}

.cardWraper2 .cardBody .cardBack .tk div:hover {
  background: #00556A;
  color: #fff;
}

.cardWraper2 .cardBody .cardBack .joinD {
  background: #0097bd28;
  border-radius: 5px;
  margin-top: 20px;
  padding: 8px 16px;
  border: 1px solid;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cardWraper2 .cardBody .cardBack .joinD:hover {
  background: #00556A;
  color: #fff;
}

.cardWraper2 .cardBody .btnDiv {
  width: 320px;
  height: 57px;
  position: absolute;
  bottom: -30px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#004859), color-stop(50%, #26b7db), to(#004859));
  background: linear-gradient(90deg, #004859 0%, #26b7db 50%, #004859 100%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.cardWraper2 .cardBody .btnDiv button {
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  border: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 2px 4px #000;
}

.cardWraper2 .cardBody .btnDiv .angilLeft {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -24px;
  left: 12px;
  background: #003340;
  -webkit-transform: rotate(53.23deg);
          transform: rotate(53.23deg);
  z-index: -1;
}

.cardWraper2 .cardBody .btnDiv .angilRight {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -24px;
  right: 12px;
  background: #003340;
  -webkit-transform: rotate(37.23deg);
          transform: rotate(37.23deg);
  z-index: -1;
}

.dasbord {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 25px;
  margin-top: 5rem;
}

.dasbord .clubBalance {
  height: 220px;
  background: linear-gradient(45deg, #FF5370, #ff869a);
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 12px #000436bd;
          box-shadow: 0px 3px 12px #000436bd;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.dasbord .clubBalance span {
  position: absolute;
  top: 65px;
  right: 0px;
  width: 100%;
  z-index: 10;
  color: #04088d;
  font-weight: bold;
  font-size: 22px;
}

.dasbord .clubBalance #Mtk1, .dasbord .clubBalance #Mtk2, .dasbord .clubBalance #invast2, .dasbord .clubBalance #cash2 {
  width: 100px;
  height: 100px;
  background: conic-gradient(#04088d 43.7deg, #fff 0deg);
  border-radius: 50%;
  margin: 15px auto;
  padding: 30px 8px;
  position: relative;
}

.dasbord .clubBalance #Mtk1::before, .dasbord .clubBalance #Mtk2::before, .dasbord .clubBalance #invast2::before, .dasbord .clubBalance #cash2::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #d1d1d1;
  border-radius: 50%;
}

.clubBalance:nth-child(1) {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.clubBalance:nth-child(2) {
  background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.clubBalance:nth-child(3) {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.footer {
  margin-top: 2.5rem;
  height: 100px;
  background: #202020;
  color: #fff;
}

.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.footer .footer_content .socaialDiv {
  font-size: 30px;
  border-radius: 6px;
}

.footer .footer_content .socaialDiv i {
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer .footer_content .socaialDiv i:hover {
  color: yellow;
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 80%;
    overflow-x: hidden !important;
  }
  .phon {
    font-size: 16px;
  }
  .hero {
    height: 250px;
  }
  .hero #hTitle {
    font-size: 25px;
  }
  .cardWraper2 {
    display: block;
    margin-left: 40px !important;
  }
  .dasbord {
    display: block;
  }
  .dasbord .clubBalance {
    margin: 35px 0;
    font-size: 16px !important;
  }
  .owner {
    display: block;
  }
  .service .serData table tr td {
    padding: 5px;
  }
  .service {
    padding: .8rem;
  }
  .avator {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
  .profile {
    position: relative;
    margin-bottom: 1.5rem !important;
    display: block !important;
    z-index: 1;
  }
  .whatsApp {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
  .card .contact .skill {
    margin-left: 0rem;
  }
  .card .contact i {
    padding: 0 3px;
  }
  .service {
    display: block;
  }
  .cardWraper, .aplayCard {
    display: block !important;
    padding: 1rem;
    padding-top: 0;
  }
  .sCard {
    margin: 1.5rem 0 !important;
  }
  .footer {
    height: 150px !important;
  }
  .footer_content {
    display: block !important;
    position: relative;
  }
  .socaialDiv {
    position: absolute;
    bottom: -2rem;
    right: .5rem;
  }
  .socaialDiv i {
    padding: 5px !important;
  }
  .serviceCard a {
    display: block;
  }
  .abInfo p {
    overflow: hidden !important;
    height: 50px;
  }
  @-webkit-keyframes lineSlid {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    90% {
      -webkit-transform: translateX(-180px);
              transform: translateX(-180px);
      opacity: 1;
    }
    92% {
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes lineSlid {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    90% {
      -webkit-transform: translateX(-180px);
              transform: translateX(-180px);
      opacity: 1;
    }
    92% {
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 920px) {
  .cardWraper2 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .owner {
    display: block !important;
  }
  .taning {
    display: block;
    margin-left: 10%;
  }
  .taning .traningCard {
    margin-top: 4rem !important;
  }
  .cardWraper, .aplayCard {
    -ms-grid-columns: auto auto auto !important;
        grid-template-columns: auto auto auto !important;
  }
}
/*# sourceMappingURL=index.css.map */