*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif Bengali', serif;
};

//input fount
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');


//starting main design

body {
    background: #EEF4F9;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}
//https://jimmy2020-web.github.io/demo-project-1/pages/BD24.jpg
.A4_page {
    margin: 15px auto;
    width: 8.5in;
    height: 11.5in;
    background: #ffffff;
    box-shadow: 0 4px 10px #a8c7e0;
    border-radius: 8px;
    padding: 15px;
    .outline{
        border: 20px solid transparent;
        border-image: url(./boderA4.png);
        border-image-slice: 50;
        border-image-repeat: initial;
        padding: 25px;
        height: 100%;
        .hader{
            text-align: center;
            h2{
                font-size: 35px;
            }
            #sonod_T{
                font-weight: bold;
                padding: 10px 0;
                position: relative;
                font-size: 20px;
                span{
                    position: absolute;
                    left: 39.5%;
                    top: -8px;
                    img{
                        width: 150px;
                    }
                }
            }
        };
        .dateStamp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .QR{
                img {
                    width: 90px;
                    padding: 5px;
                    border: 1px solid;
                    border-radius: 10px;
                }
            }
        }
        .aother{
            text-align: center;
            position: relative;
            padding-top: 80px;
            img{
                position: absolute;
                left: 8px;
                top: -10px;
                width: 175px;
            }
        }
        .lateMan_address{
            text-align: justify;
        }
        .dataTable{
            display: grid;
            grid-template-columns: 122px 360px repeat(2, 120px);
            border: 1px solid #acabab;
            border-bottom: none;
            span{
                text-align: center;
                padding: 5px 0;
                border-left: 1px solid #acabab;
                &:nth-child(1){
                    border: none;
                }
            }
        }
        table{
            tbody{
                margin-top: -2px;
                display: grid;
                grid-template-columns: 360px repeat(2, 120px);
                tr{
                    padding: 8px 12px;
                    border-left: 1px solid #acabab;
                }
            }
        }
    };
};
h3.hader {
    padding: 15px 0;
}
.Grid2{
    display: grid;
    grid-template-columns: 120px auto;
    border: 1px solid #acabab;
    background-image: url(./KUP.png);
    background-position: center;
    background-size: 55%;
    background-repeat: no-repeat;
    min-height: 45%;
    .list{
        font-size: 15px;
        td{
            display: block;
            text-align: center;
            padding-top: 20px;
        }
    }
}