@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: NikoshBAN;
    font-weight: 100;
    font-style: normal;
    src: url(./Fonts/NikoshBAN.ttf);
  }

* {
    margin: 0;
    padding: 0;
}

$borderLight: #d1d9e6;
$bgColor: #e6e7ee;
$bodyTextColor: #262833;
$textColor2: #a91e2c;

@mixin BoxShadwo1 {
  padding: 1.5rem;
  border: 1px solid $borderLight;
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
}
@mixin BoxShadwo2 {
  border: 1px solid $borderLight;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
}

@mixin ButtonOne {
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  padding: 0.25rem;
  border-radius: 0.55rem;
  border: 1px solid $borderLight;
  margin: .2rem .5rem;
}
@mixin ButtonTwo {
  box-shadow:inset 3px 3px 6px #b8b9be,inset -3px -3px 6px #fff;
  padding: 0.25rem;
  border-radius: 0.55rem;
  border: 1px solid $borderLight;
  margin: .2rem .5rem;
}


body{
    color: $bodyTextColor;
    background-color: $bgColor;
    font-family: 'Noto Serif Bengali', sans-serif;
    position: relative;
}

.popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000c0;
    color: yellow;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 160px;
        width: 170px;
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    .circle {
        border: 5px transparent solid;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 69%;
    }
    .cyan {
        top: 0px;
        border-top: 5px cyan solid;
        animation-delay: 4s;
        animation: cyan 1.5s infinite;
    }
    /*:after element = circle at the end of each line.
    :before element = cap in be start of each line*/
    .cyan:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: cyan;
        border-radius: 69%;
        right: 5px;
        top: 10px;
        box-shadow: 0px 0px 20px cyan;
    }
    .cyan:before {
        content: " ";
        width: 5px;
        height: 5px;
        position: absolute;
        background: cyan;
        top: 10px;
        left: 11px;
        border-radius: 69%;
    }
    .magenta {
        left: 0px;
        bottom: 0px;
        border-top: 5px magenta solid;
        animation: magenta 1.5s infinite;
    }
    .magenta:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: magenta;
        border-radius: 69%;
        right: 5px;
        top: 10px;
        box-shadow: 0px 0px 20px magenta;
    }
    .magenta:before {
        content: " ";
        width: 5px;
        height: 5px;
        position: absolute;
        background: magenta;
        top: 10px;
        left: 11px;
        border-radius: 69%;
    }
    .yellow {
        right: 0px;
        bottom: 0px;
        border-top: 5px yellow solid;
        animation: yellow 1.5s infinite;
    }
    .yellow:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background: yellow;
        border-radius: 69%;
        right: 5px;
        top: 10px;
        box-shadow: 0px 0px 20px yellow;
    }
    .yellow:before {
        content: " ";
        width: 5px;
        height: 5px;
        position: absolute;
        background: yellow;
        top: 10px;
        left: 11px;
        border-radius: 69%;
    }
    @keyframes cyan {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes magenta {
        0% {
            transform: rotate(240deg);
        }
        100% {
            transform: rotate(600deg);
        }
    }
    @keyframes yellow {
        0% {
            transform: rotate(120deg);
        }
        100% {
            transform: rotate(480deg);
        }
    }
    p{
        font-family: roboto, sans-serif;
        color: #eee;
        position: absolute;
        top: 175px;
        font-size: 1.5em;
        letter-spacing: 0.15em;
        font-weight: 100;
        filter: drop-shadow(2px 2px 15px #ffffff70);
    }
};

.dignerInfo{
    @include BoxShadwo1;
    position: fixed;
    top: 30px;
    right: -5px;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 5px;
    padding: 8px;
    font-size: 10px;
    border-top-left-radius: 35px !important;
    border-bottom-left-radius: 35px !important;
    &:hover{
        @include BoxShadwo2;
        cursor: pointer;
        transition: all .3s linear;
    }
    .info1{
        padding-right: 10px;
        font-family: 'Poppins', sans-serif;
        h3{
            color: $textColor2;
        }
        p{
            color: #024601;
        }
        img{
            width: 50px;
            border-radius: 50%;
            margin-bottom: -5px;
        }
    }
}

#mainContent{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#usre_ui {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    min-width: 300px;
    max-width: 850px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    @include BoxShadwo1;
    h2{
        background: linear-gradient(90deg, #ff0022, #1b2c2c, #1a00fd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: grid;
        grid-template-columns: auto auto auto;
        font-weight: 500;
        font-size: 35px;
        img{
            width: 60px;
        }
    }
    .btnSet {
        display: flex;
        justify-content: flex-end;
    }
}

.protionBox{
    display: grid;
    text-align: left;
}


    input[type=text], input[type=date] {
        background: #fbfbfb57;
        border: none;
        outline: none;
        height: 34px;
        border-radius: 8px;
        width: 43%;
        padding: 10px;
        font-family: 'NikoshBAN';
        font-size: 20px;
        @include BoxShadwo2;
        margin: 14px;
        text-shadow: #d2d2d2 0px 1px 4px;
    }
    @mixin easeme{
        -webkit-transition:1s ease;
        -moz-transition:1s ease;
        -o-transition:1s ease;
        -ms-transition:1s ease;
        transition:1s ease;
      }
    input:focus{
        box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
        background:rgba(15, 245, 26, 0.3);
        @include easeme;
    }

.btn{
    border-radius: 50px;
    border-width: 0;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    line-height: 30px;
    @include ButtonOne;
    padding: 10px 25px !important;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #019644;
    display: flex;
    .material-icons {
        padding: 3px 0px;
        padding-right: 10px !important;
    }
    &:hover{
        @include ButtonTwo;
        color: $textColor2;
        transition: all .2s linear;
    }
}
#oriceOneRow {
    display: grid;
    grid-template-columns: 370px 200px 200px;
    max-width: 620px;
    input[type=text] {
        width: auto;
    }
}
.presantAdd, .adtional, .identyUP {
    position: relative;
    margin: 50px 0;
    border: 1px solid #a1a9b6;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    transition: .3s ease-in-out;
    &:nth-child(1){
        &:hover{
            border-color: #1c9e61be;
        }
        &:hover>#infoText{
            color: #027941;
            border-color: #1c9e61be;
        }
    }
    &:nth-child(2){
        &:hover{
            border-color: #1c9e61be;
        }
        &:hover>#infoText{
            color: #027941;
            border-color: #1c9e61be;
        }
        
    }
    &:nth-child(3){
        &:hover{
            border-color: #1c9e61be;
        }
        &:hover>#infoText{
            color: #027941;
            border-color: #1c9e61be;
        }
        
    }
    &:nth-child(4){
        &:hover{
            border-color: #1c9e61be;
        }
        &:hover>#infoText{
            color: #027941;
            border-color: #1c9e61be;
        }
        
    }
    &:nth-child(5){
        &:hover{
            border-color: #1c9e61be;
        }
        &:hover>#infoText{
            color: #027941;
            border-color: #1c9e61be;
        }
        
    }
}

#infoText {
    position: absolute;
    top: -20px;
    left: 28px;
    border: 1px solid #a1a9b6;
    padding: 5px 30px;
    border-radius: 25px;
    background: white;
}


.popup {
    cursor: pointer;
    position: fixed;
    bottom: -60px;
    right: 10px;
    background: #ffffff;
    font-size: 15px;
    font-family: Noto Serif Bengali;
    color: $bodyTextColor;
    animation: popup 4s ease-in-out;
    @include BoxShadwo1;
  }
  
  @keyframes popup {
    10%, 90% {
      bottom: 10px;
    }
    100% {
      bottom: -60px;
    }
  }

#output{
    position: fixed;
    top: 110px;
    right: -10px;
    @include BoxShadwo1;
    width: 170px;
    padding: 8px 15px !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    display: flex;
}

// cake wifi
.blink {
    display: block;
    width: 15px;
    height: 15px;
    background: orangered;
    opacity: 0.7;
    border-radius: 50%;
    padding: 2px;
    margin-left: 8px;
    animation: blink .5s linear infinite;
  }
  @keyframes blink {
    100% { transform: scale(2, 2); 
            opacity: 0;
          }
  }