@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: NikoshBAN;
  font-weight: 100;
  font-style: normal;
  src: url(./Fonts/NikoshBAN.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  color: #262833;
  background-color: #e6e7ee;
  font-family: "Noto Serif Bengali", sans-serif;
  position: relative;
}

#cDate2 {
  display: none;
}

#auto {
  border: 1px solid black;
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  padding-right: 60px;
}
#auto #autoBtn {
  position: relative;
  text-align: center;
  cursor: pointer;
}
#auto #autoBtn .material-icons {
  position: absolute;
  padding-left: 10px;
  font-size: 40px !important;
  top: -8px;
}

.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7529411765);
  color: yellow;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  /*:after element = circle at the end of each line.
  :before element = cap in be start of each line*/
}
.popUp .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 170px;
  position: relative;
  margin: 0px;
  padding: 0px;
}
.popUp .circle {
  border: 5px transparent solid;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 69%;
}
.popUp .cyan {
  top: 0px;
  border-top: 5px cyan solid;
  animation-delay: 4s;
  animation: cyan 1.5s infinite;
}
.popUp .cyan:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: cyan;
  border-radius: 69%;
  right: 5px;
  top: 10px;
  box-shadow: 0px 0px 20px cyan;
}
.popUp .cyan:before {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  background: cyan;
  top: 10px;
  left: 11px;
  border-radius: 69%;
}
.popUp .magenta {
  left: 0px;
  bottom: 0px;
  border-top: 5px magenta solid;
  animation: magenta 1.5s infinite;
}
.popUp .magenta:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: magenta;
  border-radius: 69%;
  right: 5px;
  top: 10px;
  box-shadow: 0px 0px 20px magenta;
}
.popUp .magenta:before {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  background: magenta;
  top: 10px;
  left: 11px;
  border-radius: 69%;
}
.popUp .yellow {
  right: 0px;
  bottom: 0px;
  border-top: 5px yellow solid;
  animation: yellow 1.5s infinite;
}
.popUp .yellow:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 69%;
  right: 5px;
  top: 10px;
  box-shadow: 0px 0px 20px yellow;
}
.popUp .yellow:before {
  content: " ";
  width: 5px;
  height: 5px;
  position: absolute;
  background: yellow;
  top: 10px;
  left: 11px;
  border-radius: 69%;
}
@keyframes cyan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes magenta {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(600deg);
  }
}
@keyframes yellow {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
.popUp p {
  font-family: roboto, sans-serif;
  color: #eee;
  position: absolute;
  top: 175px;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  font-weight: 100;
  filter: drop-shadow(2px 2px 15px rgba(255, 255, 255, 0.4392156863));
}

.dignerInfo {
  padding: 1.5rem;
  border: 1px solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
  position: fixed;
  top: 30px;
  right: -5px;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 5px;
  padding: 8px;
  font-size: 10px;
  border-top-left-radius: 35px !important;
  border-bottom-left-radius: 35px !important;
}
.dignerInfo:hover {
  border: 1px solid #d1d9e6;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  cursor: pointer;
  transition: all 0.3s linear;
}
.dignerInfo .info1 {
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
}
.dignerInfo .info1 h3 {
  color: #a91e2c;
}
.dignerInfo .info1 p {
  color: #024601;
}
.dignerInfo .info1 img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: -5px;
}

#mainContent {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#usre_ui {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  min-width: 300px;
  max-width: 850px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1.5rem;
  border: 1px solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
}
#usre_ui h2 {
  background: linear-gradient(90deg, #ff0022, #1b2c2c, #1a00fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: grid;
  grid-template-columns: auto auto;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  margin-bottom: 5px;
}
#usre_ui h2 img {
  width: 150px;
  position: absolute;
  left: -10px;
}
#usre_ui .btnSet {
  display: flex;
  justify-content: flex-end;
}

#cruntDate {
  font-size: 25px;
}

.protionBox {
  display: grid;
  text-align: left;
}

input[type=text], input[type=date] {
  background: rgba(251, 251, 251, 0.3411764706);
  border: none;
  outline: none;
  height: 34px;
  border-radius: 8px;
  width: 85%;
  padding: 10px;
  font-family: "NikoshBAN";
  font-size: 20px;
  border: 1px solid #d1d9e6;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  margin: 14px;
  text-shadow: #d2d2d2 0px 1px 4px;
}

input:focus {
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  transition: 1s ease;
}

.btn {
  border-radius: 50px;
  border-width: 0;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  line-height: 30px;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  padding: 0.25rem;
  border-radius: 0.55rem;
  border: 1px solid #d1d9e6;
  margin: 0.2rem 0.5rem;
  padding: 10px 25px !important;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #019644;
  display: flex;
}
.btn .material-icons {
  padding: 3px 0px;
  padding-right: 10px !important;
}
.btn:hover {
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff;
  padding: 0.25rem;
  border-radius: 0.55rem;
  border: 1px solid #d1d9e6;
  margin: 0.2rem 0.5rem;
  color: #a91e2c;
  transition: all 0.2s linear;
}

#oriceOneRow {
  display: grid;
  grid-template-columns: 370px 200px 200px;
  max-width: 620px;
}
#oriceOneRow input[type=text] {
  width: auto;
}

.presantAdd, .adtional, .identyUP {
  position: relative;
  margin: 50px 0;
  border: 1px solid #a1a9b6;
  border-radius: 10px;
  padding: 10px;
  padding-top: 35px;
  transition: 0.3s ease-in-out;
}
.presantAdd:nth-child(1):hover, .adtional:nth-child(1):hover, .identyUP:nth-child(1):hover {
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(1):hover > #infoText, .adtional:nth-child(1):hover > #infoText, .identyUP:nth-child(1):hover > #infoText {
  color: #027941;
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(2):hover, .adtional:nth-child(2):hover, .identyUP:nth-child(2):hover {
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(2):hover > #infoText, .adtional:nth-child(2):hover > #infoText, .identyUP:nth-child(2):hover > #infoText {
  color: #027941;
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(3):hover, .adtional:nth-child(3):hover, .identyUP:nth-child(3):hover {
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(3):hover > #infoText, .adtional:nth-child(3):hover > #infoText, .identyUP:nth-child(3):hover > #infoText {
  color: #027941;
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(4):hover, .adtional:nth-child(4):hover, .identyUP:nth-child(4):hover {
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(4):hover > #infoText, .adtional:nth-child(4):hover > #infoText, .identyUP:nth-child(4):hover > #infoText {
  color: #027941;
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(5):hover, .adtional:nth-child(5):hover, .identyUP:nth-child(5):hover {
  border-color: rgba(28, 158, 97, 0.7450980392);
}
.presantAdd:nth-child(5):hover > #infoText, .adtional:nth-child(5):hover > #infoText, .identyUP:nth-child(5):hover > #infoText {
  color: #027941;
  border-color: rgba(28, 158, 97, 0.7450980392);
}

#infoText {
  position: absolute;
  top: -20px;
  left: 28px;
  border: 1px solid #a1a9b6;
  padding: 5px 30px;
  border-radius: 25px;
  background: white;
}

.popup {
  cursor: pointer;
  position: fixed;
  bottom: -60px;
  right: 10px;
  background: #ffffff;
  font-size: 15px;
  font-family: Noto Serif Bengali;
  color: #262833;
  animation: popup 4s ease-in-out;
  padding: 1.5rem;
  border: 1px solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
}

@keyframes popup {
  10%, 90% {
    bottom: 10px;
  }
  100% {
    bottom: -60px;
  }
}
#output {
  position: fixed;
  top: 110px;
  right: -10px;
  padding: 1.5rem;
  border: 1px solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
  width: 170px;
  padding: 8px 15px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  display: flex;
}

.blink {
  display: block;
  width: 15px;
  height: 15px;
  background: orangered;
  opacity: 0.7;
  border-radius: 50%;
  padding: 2px;
  margin-left: 8px;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}
.inputBox {
  position: relative;
  display: inline-block;
  width: 49%;
}
.inputBox span {
  position: absolute;
  left: 40px;
  top: 30px;
  pointer-events: none;
  transition: all 0.5s;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  color: #5f5f5f;
  border-left: 1px solid rgba(80, 80, 80, 0.3411764706);
  border-right: 1px solid rgba(80, 80, 80, 0.3411764706);
  background: #e6e7ee;
  padding: 1px 8px;
  font-size: 0.9rem;
  transform: translateX(0px) translateY(-28px);
}/*# sourceMappingURL=costom.css.map */