@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');

// font-family: 'Itim', cursive;
// font-family: 'Noto Serif Bengali', serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tCenter{
    text-align: center;
}
.textRight{
    text-align: right;
}
.underLine{
    text-decoration: underline;
    font-weight: 600;
    padding: 0 .5rem;
}
.activtionOk{
    opacity: 0;
    transform: translateY(100%);
}
body{
    font-family: 'Noto Serif Bengali', serif;
    background: #dbdada;
    font-size: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}

#printingPge{
    line-height: 32px;
}

.printPge1, .printPge2{
    width: 8.3in;
    height: 10in;
    background: #ffffff;
    padding: 0 5rem;
    margin: 25px 0;
    .titleText{
        line-height: normal;
        text-align: center;
        font-weight: bold;
    }
    .local_EC_Office, .address, .address2{
        padding-left: 3rem;
    }
}

.post{
    margin-left: 250px;
    padding-right: 2rem;
}
.Line{
    border-bottom: 1px solid #000;
}

.activtion{
    width: 100%;
    height: 100%;
    background: #00000060;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    .info{
        background: #ffffff;
        width: 300px;
        font-family: 'Itim', cursive;
        border-radius: 10px;
        padding: 24px;
        text-align: center;
        box-shadow: 0px 4px 15px #00000090;
        input[type="text"]{
            border: none;
            outline: none;
            padding: 10px 5px;
            width: 80%;
            border: 1px solid #027247;
            background: #027247;
            letter-spacing: 20px;
            font-size: 20px;
            color: white;
            font-weight: 600;
            border-radius: 5px;
            margin: 10px 0;
            text-align: end;
            font-family: 'Itim', cursive;
            &:focus{
                background: #02492e;
            }
        }
    }
}

.wrong {
    animation: tilt-shaking .3s 2;
    color: orangered !important;
}

@keyframes tilt-shaking {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-5px, 1px) rotate(0deg); }
  70% { transform: translate(5px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }