@import url("https://fonts.googleapis.com/css2?family=Itim&family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.underLine {
  text-decoration: underline;
  font-weight: 600;
  padding: 0 0.5rem;
}

.activtionOk {
  transition: all 0.3s ease;
  transform: translateY(100%);
  opacity: 0;
}

body {
  font-family: "Noto Serif Bengali", serif;
  background: #dbdada;
  font-size: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}

#printingPge {
  line-height: 32px;
}

.printPge1, .printPge2 {
  width: 8.3in;
  height: 10in;
  background: #ffffff;
  padding: 0 5rem;
  margin: 25px 0;
}
.printPge1 .titleText, .printPge2 .titleText {
  line-height: normal;
  text-align: center;
  font-weight: bold;
}
.printPge1 .local_EC_Office, .printPge1 .address, .printPge1 .address2, .printPge2 .local_EC_Office, .printPge2 .address, .printPge2 .address2 {
  padding-left: 3rem;
}

.post {
  margin-left: 250px;
  padding-right: 2rem;
}

.Line {
  border-bottom: 1px solid #000;
}

.activtion {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.activtion .info {
  background: #ffffff;
  color: #02492e;
  width: 300px;
  font-family: "Itim", cursive;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5647058824);
}
.activtion .info #activ {
  background: #00579e;
  color: #ffffff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  opacity: 0.6;
  font-family: "Itim", cursive;
}
.activtion .info #activ:hover {
  background: #014175;
}
.activtion .info input[type=text] {
  border: none;
  outline: none;
  padding: 10px 5px;
  width: 80%;
  border: 1px solid #027247;
  background: #ffffff;
  letter-spacing: 20px;
  font-size: 20px;
  color: #027247;
  font-weight: 600;
  border-radius: 5px;
  margin: 10px 0;
  text-align: end;
  font-family: "Itim", cursive;
}
.activtion .info input[type=text]:focus {
  transition: all 0.3s;
  background: #02492e;
  color: white;
}

.wrong {
  animation: tilt-shaking 0.4s 2;
  color: orangered !important;
}

@keyframes tilt-shaking {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-5px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(5px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}/*# sourceMappingURL=from.css.map */