@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #313131;
  font-family: "Ysabeau Infant", serif;
}

.navBar {
  background: #ca0404;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navBar .grid_nav {
  display: grid;
  grid-template-columns: 220px auto;
}
.navBar .grid_nav .logo {
  padding: 10px;
  font-size: 26px;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navBar .grid_nav .logo:hover {
  color: #fae902;
}
.navBar .grid_nav .nIten {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navBar .grid_nav .nIten #Search {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 6px;
  width: 30px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  opacity: 0.5;
}
.navBar .grid_nav .nIten #Search:hover,
.navBar .grid_nav .nIten #Search :focus {
  opacity: 1;
  width: 160px;
}
.navBar .grid_nav .nIten p {
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navBar .grid_nav .nIten p:hover {
  color: #fff;
}
.navBar .grid_nav .nIten .fa-cart-shopping {
  font-size: 25px;
}
.navBar .grid_nav .nIten .cartBord {
  position: relative;
}
.navBar .grid_nav .nIten #cartTotal {
  color: rgb(253, 253, 253);
  font-weight: bold !important;
  position: absolute;
  right: -3px;
  bottom: 1px;
  font-size: 25px;
}

.continer {
  max-width: 1050px;
  margin: 0 auto;
}

.hero_bg {
  width: 100%;
  min-height: 250px;
  background: url(./image/Pellets.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.hero_bg .hero_text {
  background: rgba(16, 16, 16, 0.6980392157);
  color: #fff;
  width: 100%;
  height: 100%;
}
.hero_bg .hero_text .info {
  width: 80%;
  font-size: 70px;
  font-weight: bold;
  padding: 100px;
}
.hero_bg .hero_text button {
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #ca0404;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.shop_Step {
  margin: 50px 0;
}
.shop_Step .title {
  color: #313131;
  border-bottom: 3px solid;
  margin-bottom: 40px;
  padding: 5px 0px;
  font-size: 35px;
  display: inline-block;
}
.shop_Step .title::first-letter {
  color: #e90000;
  font-weight: bold;
  text-transform: uppercase;
}
.shop_Step .card,
.shop_Step .Price_card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 15px;
}
.shop_Step .card .card_item,
.shop_Step .Price_card .card_item {
  position: relative;
  width: 250px;
  height: 320px;
  border: 1px solid #ca0404;
  padding: 10px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop_Step .card .card_item:hover img,
.shop_Step .Price_card .card_item:hover img {
  transform: scale(1.1);
}
.shop_Step .card .card_item .category,
.shop_Step .Price_card .card_item .category {
  position: absolute;
  top: 5px;
  right: 5px;
}
.shop_Step .card .card_item .infoText,
.shop_Step .Price_card .card_item .infoText {
  z-index: 3;
  color: #ca0404;
  text-align: center;
}
.shop_Step .card .card_item .infoText button,
.shop_Step .Price_card .card_item .infoText button {
  margin-top: 190px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #ca0404;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.shop_Step .card .card_item img,
.shop_Step .Price_card .card_item img {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0;
  transition: all 0.3s ease-in;
}

.xprice {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
}

.bullets .box {
  display: grid;
  grid-template-columns: 500px 550px;
}
.bullets .box .infoBul {
  padding: 15px;
  border: 1px solid #ca0404;
  text-align: justify;
  border-radius: 12px;
  -o-object-fit: contain;
     object-fit: contain;
  background: #f3f3f3;
}
.bullets .box .infoBul img {
  width: 100%;
}
.bullets .box .infoBul:nth-child(1) {
  border-right: none;
}

.profile {
  display: grid;
  grid-template-columns: auto 380px;
  align-items: center;
  justify-content: space-around;
}
.profile img {
  width: 300px;
  border: 5px solid #bebdbd;
  border-radius: 50%;
  background: #fff;
  margin: 20px 0;
}
.profile .pro_Text h3,
.profile .pro_Text p {
  line-height: 33px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.profile .pro_Text h3:hover,
.profile .pro_Text p:hover {
  color: #ca0404;
}
.profile .pro_Text span {
  padding-right: 10px;
}

.Pr_card_item {
  overflow: hidden;
  display: flex;
  width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Pr_card_item img {
  width: 100%;
}
.Pr_card_item .firstPart {
  transition: all 0.4s ease-in-out;
}
.Pr_card_item .secendPart {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -120px;
  left: 0px;
  opacity: 0;
  text-align: justify;
}
.Pr_card_item:hover .firstPart {
  opacity: 0;
}
.Pr_card_item:hover .secendPart {
  top: 0px;
  left: 0px;
  opacity: 1;
}

.Pr_card_item,
.profile {
  position: relative;
  background: #f3f3f3;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #dad9d9;
  transition: all 0.3s ease-in-out;
}
.Pr_card_item .category,
.profile .category {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  color: #313131;
  padding: 5px 8px;
  border-radius: 5px;
  font-family: "Nunito";
}
.Pr_card_item:hover,
.profile:hover {
  border: 1px solid #bebdbd;
  box-shadow: 0px 2px 8px #bebdbd;
}
.Pr_card_item .cardText,
.profile .cardText {
  color: #313131;
  font-size: 14px;
}
.Pr_card_item .secendPart,
.profile .secendPart {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.Pr_card_item .secendPart button,
.profile .secendPart button {
  position: absolute;
  top: 260px;
  right: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #ca0404;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  margin-top: 10px;
}

.policy {
  background: #f3f3f3;
  color: #313131;
  font-weight: bold;
  padding: 25px 0px;
  border-radius: 8px;
  border: 1px solid #bebdbd;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: space-around;
}
.policy span {
  text-align: center;
  font-size: 30px;
}
.policy span img {
  width: 100px;
}
.policy span,
.policy p {
  cursor: pointer;
  transition: all 0.3s;
}
.policy span:hover,
.policy p:hover {
  color: #ca0404;
}

.active {
  background: #ca0404 !important;
  color: #fff !important;
}

.filterBtnGrup {
  margin-top: -35px;
  margin-bottom: 30px;
}
.filterBtnGrup button {
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid #ca0404;
  outline: none;
  background: #fff;
  color: #ca0404;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s;
  margin: 5px 0;
  margin-right: 10px;
}
.filterBtnGrup button:hover {
  background: #ca0404;
  color: #fff;
}

.hide {
  display: none;
}

footer {
  border-top: 4px dotted;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  color: #fff;
  padding: 15px 0;
  font-family: "Nunito", sans-serif;
}
footer .fot {
  text-align: left;
}
footer .fot h3 {
  letter-spacing: 10px;
  border-bottom: 1px solid;
  display: inline;
}
footer .fot p {
  padding: 5px 0;
  font-size: 14px;
}
footer .fot p span {
  padding-right: 15px;
}
footer .imgDiv {
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .imgDiv img {
  width: 100%;
  border: 3px solid;
  border-radius: 50%;
  background: #f3f3f3;
}
footer .skill {
  font-size: 30px;
  margin: 45px 0;
}
footer .skill span {
  padding: 15px;
}
footer .grid {
  display: grid;
  grid-template-columns: 140px auto auto;
  align-items: center;
}

@media screen and (max-width: 550px) {
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .navBar .grid_nav {
    display: grid;
    grid-template-columns: 203px 170px;
  }
  .hero_bg {
    background-size: 100%;
    height: 250px;
  }
  .hero_bg .hero_text .info {
    width: 100%;
    font-size: 35px;
    padding: 50px;
  }
  .shop_Step .title {
    text-align: center;
    padding: 6px 0;
    font-size: 30px;
    margin-left: 15px;
  }
  .shop_Step .card,
  .shop_Step .Price_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .bullets .box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 20px;
  }
  .bullets .box img {
    width: 260px !important;
  }
  .bullets .box .infoBul:nth-child(1) {
    border: 1px solid #ca0404;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 390px;
    transform: scale(0.9);
  }
  .policy {
    max-width: 390px;
    font-size: 65%;
    transform: scale(0.9);
  }
  .policy img {
    transform: scale(0.7);
  }
  .filterBtnGrup {
    margin-left: 15px;
  }
  .Pr_card_item {
    width: 280px !important;
  }
}/*# sourceMappingURL=index.css.map */