@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
:root {
  --bgClor:#e90000;
  --textColor: #ffffff;
  --textColor2: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: var(--textColor2);
  font-family: "Ysabeau Infant", serif;
  position: relative;
}

.navBar {
  background: var(--bgClor);
  color: var(--textColor);
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navBar .grid_nav {
  display: grid;
  grid-template-columns: 220px auto;
}
.navBar .grid_nav .logo {
  padding: 10px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 25px;
  font-family: "DM Serif Display", serif;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navBar .grid_nav .logo:hover {
  color: #fae902;
}
.navBar .grid_nav .nIten {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navBar .grid_nav .nIten #Search {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 6px;
  transition: all 0.3s ease-in-out;
  border-radius: 45px;
  padding-left: 15px;
}
.navBar .grid_nav .nIten p {
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navBar .grid_nav .nIten p:hover {
  color: #fff;
}
.navBar .grid_nav .nIten .fa-cart-shopping {
  font-size: 25px;
}
.navBar .grid_nav .nIten .cartBord {
  position: relative;
}
.navBar .grid_nav .nIten #cartTotal {
  color: rgb(253, 253, 253);
  font-weight: bold !important;
  position: absolute;
  right: -3px;
  bottom: 1px;
  font-size: 25px;
}

.thmeManu {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
}
.thmeManu .fa-palette {
  color: var(--bgClor);
  cursor: pointer;
  background: var(--textColor);
  padding: 5px;
  border: 2px solid var(--textColor2);
  border-radius: 50%;
  outline-offset: 2px solid var(--bgClor);
}
.thmeManu .flyManu {
  position: fixed;
  background: rgba(255, 255, 255, 0.6784313725);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  bottom: -200px;
  right: 15px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 12px var(--textColor2);
  transition: all 0.3s ease-in;
}
.thmeManu .flyManu span {
  display: block;
  padding: 5px;
}
.thmeManu .flyManu span input {
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.thmeManu .flyManu .fa-circle-xmark {
  position: absolute;
  top: 12px;
  cursor: pointer;
  color: var(--textColor2);
  font-size: 20px;
  transform: translateX(130px);
}

.continer {
  max-width: 1050px;
  margin: 0 auto;
}

.hero_bg {
  width: 100%;
  height: 500px;
  min-height: 250px;
  background: url(./image/hero.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.hero_bg .hero_text {
  color: var(--textColor2);
  width: 100%;
  height: 100%;
}
.hero_bg .hero_text .info {
  background: linear-gradient(to top left, #e90000 50%, #0c8504 64%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "DM Serif Display", serif;
  width: 52%;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 160px;
}
.hero_bg .hero_text .heroBtn {
  letter-spacing: 3px;
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

.brandName {
  line-height: 25px;
  border-bottom: 1px solid var(--textColor2);
  border-top: 1px solid var(--textColor2);
  background: var(--textColor2);
  position: relative;
}
.brandName #roter {
  color: var(--textColor);
  position: absolute;
  left: 5%;
  z-index: 10;
  bottom: 2px;
  font-size: 30px;
  animation: roter 80s infinite;
}
.brandName .brandItem {
  background: var(--textColor);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 180px;
  text-align: center;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
}
.brandName .brandItem::-webkit-scrollbar {
  display: none !important;
}
.brandName .brandItem span {
  animation: scroolAnimation 80s infinite;
  background: var(--textColor2);
  padding: 5px;
  text-transform: uppercase;
  color: var(--textColor);
  border-left: 1px solid;
  border-right: 1px solid;
}

@keyframes scroolAnimation {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-600%);
  }
  100% {
    transform: translateX(10%);
  }
}
@keyframes roter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1440deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.shop_Step {
  margin: 20px 0;
}
.shop_Step .title {
  font-family: "Nunito", sans-serif;
  color: var(--textColor2);
  border-bottom: 3px solid;
  margin-bottom: 40px;
  padding: 5px 0px;
  font-size: 25px;
  display: inline-block;
}
.shop_Step .title::first-letter {
  color: var(--bgClor);
  font-weight: bold;
  text-transform: uppercase;
}
.shop_Step span#totalProduct {
  background: var(--bgClor);
  color: var(--textColor);
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 18px;
}
.shop_Step .card,
.shop_Step .Price_card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 15px;
}
.shop_Step .card .card_item,
.shop_Step .Price_card .card_item {
  position: relative;
  width: 250px;
  height: 320px;
  border: 1px solid var(--bgClor);
  padding: 10px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop_Step .card .card_item .category,
.shop_Step .Price_card .card_item .category {
  position: absolute;
  top: 5px;
  right: 5px;
}
.shop_Step .card .card_item .infoText,
.shop_Step .Price_card .card_item .infoText {
  z-index: 3;
  color: var(--bgClor);
  text-align: center;
}
.shop_Step .card .card_item .infoText button,
.shop_Step .Price_card .card_item .infoText button {
  margin-top: 190px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: var(--bgClor);
  color: var(--textColor);
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.shop_Step .card .card_item img,
.shop_Step .Price_card .card_item img {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0;
  transition: all 0.3s ease-in;
}

#Xprice {
  font-size: 18px;
  font-weight: bold;
  color: var(--bgClor);
}

.xprice {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
  font-size: 14px;
}

.bullets .box {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 500px 550px;
}
.bullets .box .infoBul {
  padding: 15px;
  border: 1px solid var(--bgClor);
  text-align: justify;
  border-radius: 12px;
  -o-object-fit: contain;
     object-fit: contain;
  background: #f3f3f3;
}
.bullets .box .infoBul img {
  width: 100%;
}
.bullets .box .infoBul:nth-child(1) {
  border-right: none;
}

.profile {
  margin-top: -20px;
  display: grid;
  grid-template-columns: auto 380px;
  align-items: center;
  justify-content: space-around;
}
.profile img {
  width: 300px;
  border: 5px solid #bebdbd;
  border-radius: 50%;
  background: #fff;
  margin: 20px 0;
}
.profile .pro_Text h3,
.profile .pro_Text p {
  line-height: 33px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.profile .pro_Text h3:hover,
.profile .pro_Text p:hover {
  color: var(--bgClor);
}
.profile .pro_Text span {
  padding-right: 10px;
}

.Pr_card_item {
  margin: 8px 0;
  transition: transform 0.4s ease;
  display: flex;
  width: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Pr_card_item img {
  width: 100%;
}
.Pr_card_item .firstPart {
  transition: all 0.4s ease-in-out;
}
.Pr_card_item .secendPart {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -10px;
  left: 0px;
  opacity: 0;
  text-align: justify;
  overflow: hidden;
}
.Pr_card_item:hover .firstPart {
  opacity: 0;
}
.Pr_card_item:hover .secendPart {
  top: 0px;
  left: 0px;
  opacity: 1;
}

.Pr_card_item,
.profile {
  position: relative;
  background: #f3f3f3;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #dad9d9;
  transition: all 0.3s ease-in-out;
}
.Pr_card_item .category,
.profile .category {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  color: var(--textColor2);
  padding: 5px 8px;
  border-radius: 5px;
  font-family: "Nunito";
}
.Pr_card_item:hover,
.profile:hover {
  border: 1px solid #bebdbd;
  box-shadow: 0px 2px 8px #bebdbd;
}
.Pr_card_item .cardText,
.profile .cardText {
  color: var(--textColor2);
  font-size: 14px;
}
.Pr_card_item .cardText #code,
.profile .cardText #code {
  text-transform: uppercase;
  color: var(--bgClor);
}
.Pr_card_item .secendPart,
.profile .secendPart {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.Pr_card_item .secendPart button,
.profile .secendPart button {
  position: absolute;
  top: 245px;
  right: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: var(--bgClor);
  color: var(--textColor);
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  margin-top: 10px;
}

.policy {
  margin-top: -20px;
  background: #f3f3f3;
  color: var(--textColor2);
  font-weight: bold;
  padding: 25px 0px;
  border-radius: 8px;
  border: 1px solid #bebdbd;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: space-around;
}
.policy span {
  text-align: center;
  font-size: 30px;
}
.policy span img {
  width: 100px;
}
.policy span,
.policy p {
  cursor: pointer;
  transition: all 0.3s;
}
.policy span:hover,
.policy p:hover {
  color: var(--bgClor);
}

.active {
  background: var(--bgClor) !important;
  color: #fff !important;
}

.filterBtnGrup {
  margin-top: -35px;
  margin-bottom: 30px;
}
.filterBtnGrup button {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid var(--bgClor);
  outline: none;
  background: #fff;
  color: var(--bgClor);
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s;
  margin: 5px 0;
  margin-right: 10px;
}
.filterBtnGrup button:hover {
  background: var(--bgClor);
  color: #fff;
}

.hide {
  display: none;
}

footer {
  border-top: 4px dotted;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  color: #fff;
  padding: 15px 0;
  font-family: "Nunito", sans-serif;
}
footer .fot {
  text-align: left;
}
footer .fot h3 {
  letter-spacing: 10px;
  border-bottom: 1px solid;
  display: inline;
}
footer .fot p {
  padding: 5px 0;
  font-size: 14px;
}
footer .fot p span {
  padding-right: 15px;
}
footer .imgDiv {
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .imgDiv img {
  width: 100%;
  border: 3px solid;
  border-radius: 50%;
  background: #f3f3f3;
}
footer .skill {
  font-size: 30px;
  margin: 45px 0;
}
footer .skill span {
  padding: 15px;
}
footer .grid {
  display: grid;
  grid-template-columns: 140px auto auto;
  align-items: center;
}

@media screen and (max-width: 550px) {
  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .navBar .grid_nav {
    display: grid;
    grid-template-columns: 203px 170px;
  }
  .hero_bg {
    background-size: 100%;
    background-position: bottom !important;
    height: 285px;
  }
  #Search {
    position: absolute !important;
    top: 50px !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 30px !important;
    padding-left: 20px !important;
    border: 1px solid var(--bgClor) !important;
  }
  .hero_bg .hero_text .info {
    width: 100%;
    font-size: 14px;
    padding: 15px;
    padding-top: 80px;
  }
  .heroBtn {
    font-size: 8px !important;
    letter-spacing: 0px !important;
  }
  .brandName {
    line-height: 20px !important;
  }
  .shop_Step .title {
    text-align: center;
    padding: 6px 0;
    font-size: 20px;
    margin-left: 15px;
  }
  .shop_Step .card,
  .shop_Step .Price_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
  }
  .bullets .box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 20px;
  }
  .bullets .box img {
    width: 260px !important;
  }
  .bullets .box .infoBul:nth-child(1) {
    border: 1px solid var(--bgClor);
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 390px;
    transform: scale(0.9);
  }
  .policy {
    max-width: 390px;
    font-size: 65%;
    transform: scale(0.9);
  }
  .policy img {
    transform: scale(0.7);
  }
  .filterBtnGrup {
    margin-left: 15px;
  }
  .Price_card {
    overflow: hidden;
  }
  .Pr_card_item {
    opacity: 0;
    transform: translateX(120%);
    width: 280px !important;
  }
  .Pr_card_item:nth-of-type(even) {
    transform: translateX(-120%);
  }
  .showCard {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }
  .skill {
    margin: 5px 0;
  }
  .grid {
    grid-template-columns: 110px auto auto !important;
  }
  .grid .imgDiv {
    width: 90px !important;
    padding-left: 10px;
  }
  .grid .skill {
    font-size: 25px !important;
    margin: 10px 0 !important;
    display: none !important;
  }
  .grid .skill p span {
    padding-right: 8px;
  }
}
.loder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3215686275);
  z-index: 99;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
}
.loder .spin {
  position: absolute;
  top: 10%;
  border: 10px solid var(--textColor);
  border-radius: 50%;
  border-top: 10px solid var(--bgClor);
  border-bottom: 10px solid var(--bgClor);
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */