*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

// font-family: 'Nunito', sans-serif;
// font-family: 'Ysabeau Infant', sans-serif;

$bgcolor: #ca0404;
$textcolor: #fff;
$textcolor2: #313131;

@mixin buy_btn {
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: $textcolor;
    background: $bgcolor;
    border: 1px solid $bgcolor;
    cursor: pointer;
    font-size: 15px;
}

body {
    color: $textcolor2;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .box_Content{
        border-radius: 10px;
        width: 340px;
        height: 420px;
        background: #f3f3f3;
        box-shadow: 0px 4px 10px #8b8b8b;
        h2{
            color: $textcolor;
            text-align: center;
            font-weight: bold;
            font-family: 'Ysabeau Infant', sans-serif;
            text-transform: uppercase;
            background: $bgcolor;
            padding: 8px 0;
            border-radius: 8px 8px 0 0;
        }
        .auth{
            display: grid;
            grid-template-columns: 100px auto;
            align-items: center;
            img{
                width: 80px;
                border-radius: 50%;
                border: 2px solid $bgcolor;
            }
            padding: 25px;
        }
        .Login{
            padding: 25px;
            span{
                display: block;
                padding: 8px;
                border: 1px solid #bbbbbb;
                border-radius: 5px;
                margin: 12px 0;
                &:nth-child(3){
                    border: none;
                    text-align: center;
                    margin-top: 40px;
                }
                input[type="password"], input[type="text"]{
                    border: none;
                    outline: none;
                    font-size: 16px;
                    background: transparent;
                    width: 120px;
                }
                input[type="submit"]{
                    min-width: 170px;
                    border: none;
                    outline: none;
                    @include buy_btn;
                    font-weight: bold !important;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background: $textcolor;
                        color: $bgcolor;
                    }
                }
            }
        }
    }
}