@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
:root {
  --bgClor: #e90000;
  --textColor: #ffffff;
  --textColor2: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.continer {
  max-width: 1050px;
  margin: 0 auto;
}

body {
  background: #ffffff;
  color: var(--textColor2);
  font-family: "Ysabeau Infant", serif;
  width: 100%;
  height: 100%;
}

.navBar {
  background: var(--bgClor);
  color: var(--textColor);
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navBar .grid_nav {
  display: grid;
  grid-template-columns: 220px auto;
}
.navBar .grid_nav .logo {
  width: 180px;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navBar .grid_nav .logo:hover {
  color: #fae902;
}
.navBar .grid_nav .logo img {
  width: 100%;
}
.navBar .grid_nav .nIten {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navBar .grid_nav .nIten #Search {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 6px;
  transition: all 0.3s ease-in-out;
  border-radius: 45px;
  padding-left: 15px;
}
.navBar .grid_nav .nIten p {
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.navBar .grid_nav .nIten p:hover {
  color: #fff;
}
.navBar .grid_nav .nIten .fa-cart-shopping {
  font-size: 25px;
}
.navBar .grid_nav .nIten .cartBord {
  position: relative;
}
.navBar .grid_nav .nIten #cartTotal {
  color: rgb(253, 253, 253);
  font-weight: bold !important;
  position: absolute;
  right: -3px;
  bottom: 1px;
  font-size: 25px;
}

.pathManu {
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 18px;
}

.cardBox {
  display: grid;
  grid-template-columns: 280px auto 330px;
  padding: 1.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  margin-bottom: 3rem;
}
.cardBox .gridBox #pd4 {
  padding: 0.3rem 0;
}
.cardBox .gridBox .xprice {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
  font-size: 14px;
}
.cardBox .gridBox .imgBox {
  -o-object-fit: cover;
     object-fit: cover;
}
.cardBox .gridBox .imgBox img {
  width: 100%;
}
.cardBox .gridBox h2 {
  margin-bottom: 10px;
}
.cardBox .gridBox p .fa-star {
  color: rgb(255, 153, 0);
}
.cardBox .gridBox .price {
  padding: 0.5rem 0;
  color: var(--bgClor);
}
.cardBox .gridBox .price span {
  padding-right: 10px;
}
.cardBox .gridBox .condation {
  line-height: 2.5rem;
  padding-left: 15px;
  background: #efeded;
}
.cardBox .gridBox .condation span {
  padding-right: 10px;
}
.cardBox .btn {
  margin-top: 2.5rem;
}
.cardBox .btn button {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid var(--bgClor);
  outline: none;
  background: #fff;
  color: var(--bgClor);
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s;
  margin-right: 15px;
  transition: all 0.5s ease;
}
.cardBox .btn button:hover {
  background: var(--bgClor);
  color: var(--textColor);
}
.cardBox .btn button:nth-child(1) {
  color: var(--textColor);
  background: var(--textColor2);
  border-color: var(--textColor2);
}
.cardBox .btn button:nth-child(1):hover {
  background: var(--bgClor);
  border-color: var(--bgClor);
}
.cardBox .btn p {
  line-height: 2.5rem;
  background: #efeded;
  padding: 0 1rem;
}

.input {
  height: 100vh;
}

footer {
  border-top: 4px dotted;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  color: #fff;
  padding: 15px 0;
  font-family: "Nunito", sans-serif;
}
footer .fot {
  text-align: left;
}
footer .fot h3 {
  letter-spacing: 10px;
  border-bottom: 1px solid;
  display: inline;
}
footer .fot p {
  padding: 5px 0;
  font-size: 14px;
}
footer .fot p span {
  padding-right: 15px;
}
footer .imgDiv {
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .imgDiv img {
  width: 100%;
  border: 3px solid;
  border-radius: 50%;
  background: #f3f3f3;
}
footer .skill {
  font-size: 30px;
  margin: 45px 0;
}
footer .skill span {
  padding: 15px;
}
footer .grid {
  display: grid;
  grid-template-columns: 140px auto auto;
  align-items: center;
}

.loder {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3215686275);
  z-index: 99;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
}
.loder .spin {
  position: absolute;
  top: 40%;
  border: 10px solid var(--textColor);
  border-radius: 50%;
  border-top: 10px solid var(--bgClor);
  border-bottom: 10px solid var(--bgClor);
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(2, 2, 2, 0.7803921569);
}
.popup .popBix {
  position: relative;
  background: #f3f3f3;
  color: var(--bgClor);
  height: 180px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px var(--textColor2);
  text-align: center;
}
.popup .popBix .closeBtn {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: #f3f3f3;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 21px;
  color: var(--textColor2);
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup .popBix .closeBtn:hover {
  color: var(--bgClor);
}
.popup .popBix .btnGrup {
  font-size: 30px;
}
.popup .popBix .btnGrup .fa-whatsapp {
  color: #075e54;
}
.popup .popBix .btnGrup .fa-whatsapp:hover {
  color: var(--textColor2);
}
.popup .popBix .btnGrup .fa-facebook-messenger {
  color: #006AFF;
}
.popup .popBix .btnGrup .fa-facebook-messenger:hover {
  color: var(--textColor2);
}
.popup .popBix .btnGrup span {
  padding: 20px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media screen and (max-width: 550px) {
  .pathManu {
    margin: 0 1.5rem;
    padding-bottom: 1rem;
  }
  .logo {
    width: 140px !important;
    padding-left: 20px !important;
  }
  .cardBox {
    grid-template-columns: auto;
    margin: 25px;
  }
  .navBar .grid_nav {
    display: grid;
    grid-template-columns: 203px 170px;
  }
  #Search {
    position: absolute !important;
    top: 40px !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 30px !important;
    padding-left: 20px !important;
    border: 1px solid var(--bgClor) !important;
  }
  .cardBox .btn button {
    margin-right: 5px !important;
  }
  .skill {
    margin: 5px 0;
  }
  .grid {
    grid-template-columns: 110px auto auto !important;
  }
  .grid .imgDiv {
    width: 90px !important;
    padding-left: 10px;
  }
  .grid .skill {
    font-size: 25px !important;
    margin: 10px 0 !important;
    display: none !important;
  }
  .grid .skill p span {
    padding-right: 8px;
  }
}/*# sourceMappingURL=view.css.map */